@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-background: #6E39C3;
    --main-text-color: #FFFFFF;
    --accent-color: #AA83EA;
}

body {
    font-family: 'Outfit', sans-serif;
    /* background-color: #c6adef; */
    background: #aaa;
    /* color: #fff; */
}